:root {
  --blue-color100: #0960c2;
  --blue-color70: #5ac8fa;
  --blue-color50: rgb(121, 121, 253)(0, 0, 255, 0.719);
  
}

.bg-blue100{
  background-color: var(--blue-color100);
}


.bg-blue70{
  background-color: var(--blue-color70);
}


.bg-blue50{
  background-color: var(--blue-color50);
}

.input-search {
  padding: 10px;             
  font-size: 16px;     
  background-color: rgb(238, 238, 238);    
  border-radius: 5px;       
  outline: none;
  transition: border-color 0.3s ease; 
}

.input-search:focus {
  border-color: #007bff;     
}


.register-btn {
  background-color: #ffffff;        
  color: rgb(0, 0, 0);                    
border: 1px solid rgba(0, 0, 0, 0.416);
  padding: 8px 12px;               
  font-size: 16px;                 
  border-radius: 5px;               
  cursor: pointer;               
  transition: background-color 0.3s ease; 
}

.register-btn:hover {
border: 1px solid black;
}

.link-text {
  text-decoration: none;            /* حذف خط زیر لینک */
  color: inherit;                   /* ارث‌بری رنگ از دکمه */
  font-weight: bold;                /* ضخیم کردن فونت */
}

.link-text:hover {
  text-decoration: underline;       /* اضافه کردن خط زیر لینک هنگام hover */
}


.position-fixed {
  position: fixed !important;
}

.top-0 {
  top: 0 !important;
}

.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
