:root {
  --primary-color: #d32f2f; /* قرمز اصلی */
  --secondary-color: #333333; /* مشکی/خاکستری تیره */
  --background-color: #f8f9fa; /* خاکستری روشن برای پس‌زمینه */
  --text-color: #212529; /* مشکی تیره برای متون */
  --white-color: #ffffff; /* سفید */
  --gray-color: #6c757d; /* خاکستری متوسط */
}
.bg-red{
  background-color: var(--primary-color);
}

.input-search {
  padding: 10px;             
  font-size: 16px;     
  background-color: rgb(238, 238, 238);    
  border-radius: 5px;       
  outline: none;
  transition: border-color 0.3s ease; 
}

.input-search:focus {
  border-color: #007bff;     
}


.register-btn {
  background-color: #ffffff;        
  color: rgb(0, 0, 0);                    
border: 1px solid rgba(0, 0, 0, 0.416);
  padding: 8px 12px;               
  font-size: 16px;                 
  border-radius: 5px;               
  cursor: pointer;               
  transition: background-color 0.3s ease; 
}

.register-btn:hover {
border: 1px solid black;
}

.link-text {
  text-decoration: none;            /* حذف خط زیر لینک */
  color: inherit;                   /* ارث‌بری رنگ از دکمه */
  font-weight: bold;                /* ضخیم کردن فونت */
}

.link-text:hover {
  text-decoration: underline;       /* اضافه کردن خط زیر لینک هنگام hover */
}
